body{
  background-color: #696969;
}

.App{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5px;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 4px;

  grid-template-areas: 
  "a a"
  "b c";
}