.dialogsBox{
    display: flex;
    height: 100%;
}

.dialogsList{
    width: 20%;
}

.dialogsShow{
    width: 80%;
    padding: 10px;
    border-left: 2px solid black;
}

.dialogsList__item{
    padding: 8px;
}


